{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}Contacts.APP{% endblock %}</h1>
<h2>A Demo Contacts Application</h2>
{% endblock %}

{% block content %}
<form action="/contacts" method="get" class="tool-bar">
  <label for="search">Search Term</label>
  <input id="search" type="search" name="q" value="{{ request.args.get('q') or '' }}" hx-get="/contacts"
    hx-trigger="search, keyup delay:200ms changed" hx-target="tbody" hx-push-url="true" hx-indicator="#spinner" />
  <img id="spinner" width="20px" height="20px" class="htmx-indicator"
    src="{{ url_for('static', filename='img/spinning-circles.gif') }}" alt=" Request In Flight..." />
  <input type="submit" value="Search" />
</form>
<table>
  <thead>
    <tr>
      <th>First
      <th>Last
      <th>Phone
      <th>Email
        <th />
    </tr>
  </thead>
  <tbody>
    {% include 'rows.html' %}
    <!-- infinite scroll -->
    {% if contacts|length == 10 %}
    <tr>
      <td colspan="5" style="text-align: center">
        <span hx-target="closest tr" hx-trigger="revealed" hx-swap="outerHTML"
          hx-get="/contacts?page={{ page + 1 }}">Loading More...</span>
      </td>
    </tr>
    {% endif %}

    <!-- load more -->
    <!-- {% if contacts|length == 10 %}
    <tr>
      <td colspan="5" style="text-align: center">
        <button hx-target="closest tr" hx-swap="outerHTML" hx-select="tbody > tr"
          hx-get="/contacts?page={{ page + 1 }}">
          Load More
        </button>
      </td>
    </tr>
    {% endif %} -->

  </tbody>
</table>
<!-- pagination -->
<!-- <div>
  <span style="float: right">
    {% if page > 1 %}
      <a href="/contacts?page={{ page - 1 }}">Previous</a>
    {% endif %}
    {% if contacts|length == 10 %}
      <a href="/contacts?page={{ page + 1 }}">Next</a>
    {% endif %}
  </span>
</div> -->
<p>
  <a href="/contacts/new">Add Contact</a> <span hx-get="/contacts/count" hx-trigger="revealed">
    <img id="spinnerCount" width="20px" height="20px" class="htmx-indicator"
      src="{{ url_for('static', filename='img/spinning-circles.gif') }}"" />
  </span>
</p>
{% endblock %}