<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='missing.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
<script src="{{ url_for('static', filename='js/_hyperscript.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/overflow-menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/alpinejs.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sweetalert2.js') }}"></script>
<script src="{{ url_for('static', filename='js/sweet-confim_dialog.js') }}"></script>


<body hx-boost="true">
    <main class="container">
        <nav>
            <h1>Flaskr</h1>
        </nav>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </main>
</body>